// Base
// -------------------------------------------------------

* {
  // For smooth scrolling on iOS.
  -webkit-overflow-scrolling: touch;
}

.page-header {
  margin: 0px;
  border-bottom: none;
  padding-bottom: 0;
  h1 {
    margin: 0 0 20px;
    font-family: $primary_font_black;
    font-weight: 900;
  }
}

a {
  color: $habi;
  &:hover, &:focus {
    color: $habi;
  }
}

body,
p {
  @include p();
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 20px;
}
strong, b {
  font-family: $primary_font_bold;
}
.single-guide, p {
  ul li strong, ul li b {
    font-family: $primary_font_bold;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p img {
  margin: 10px !important;
}

// Utility Classes
// -------------------------------------------------------

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}

// Custom visiblity classes
// -------------------------------------------------------

// 501px to 768px.
.visible-xs-custom {
  display: none;
}
@media (min-width: 501px) and (max-width: 768px) {
  .visible-xs-custom {
    display: block !important;
  }
}
// 500px and under
.visible-xxs {
  display: none !important;
}
@media (max-width: 500px) {
  .visible-xxs {
    display: block !important;
  }
}

.container, .container-fluid{
  iframe{
    display:block;
  }
}

html {
  header.background-header-styles {
    background: transparent;
    background-image:none;
    border-bottom: 0px;
    padding-bottom:0;
    .menu-item > a, .menu-item > .span-menu{
      color: $white;
    }
    .menu-item > a.dropdown-toggle:hover, .menu-item > .span-menu.dropdown-toggle:hover {
      color: $white;
    }
    .white-menu {
      display: block;
    }
    .black-menu {
      display:none;
    }
    .icon-search {
      color: $white;
    }
    .navbar-toggle {
      color: $white;
    }

    @media only screen and (max-width:1199px){
      padding-bottom:50px;
    }
    @include tablet_and_under {
      padding-bottom:0;
    }
  }

  .background-header {
    position: absolute;
    z-index: -2;
    height: 360px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top right;
    top:-35px;
    @include tablet_and_under {
      height:200px;
    }

    background-image: radial-gradient(circle at center, #35090a, #000000);

    &--matchupbar {
      top:78px;
      @include tablet_and_under {
        top:112px;
      }
    }

    &__mask{
      position: absolute;
      z-index: -2;
      height: 250px;
      width: 100%;
      bottom:0px;
      background:rgba(0,0,0,0.5);
      @include tablet_and_under{
        height:400px;
      }
      @include mobile_and_under{
        height: 307px;
        background-color:transparent;
      }
    }
    &.no-matchup{
      top: 0;
    }
  }
  .logged-in {
    .background-header {
      top:10px;
      &--matchupbar {
        top:110px;
        @include tablet_and_under {
          top:157px;
        }
      }
      &.no-matchup{
        top:32px;
        @include mobile_and_under{
          top: 0;
        }
      }
    }
  }
}

body.home .background-header {
  height:550px;
  @include tablet_and_under {
    height:307px;
  }
}
body.page-template-template-ranking-universal {
  .background-header{
    &.no-matchup{
      top: 0;
    }
  }
}
