// =============================================================================
// GENERAL RESPONSIVENESS
// =============================================================================
@mixin big_screens() {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin medium_and_large_screens(){
	@media screen and (max-width: 1279px) and (min-width:993px){
		@content;
	}
}

@mixin under_large_screens(){
	@media screen and (max-width: 1279px){
		@content;
	}
}

@mixin medium_screens() {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin tablet_and_under() {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin mobile_and_under() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin desktop_only() {
  @media only screen and (min-width: 993px) {
    @content;
  }
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: woff2 woff) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
		font-display: block;
	}
}

@mixin p() {
  color: $primary_font_color;
  font-family: $primary_font_regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  a {
    font-family: $primary_font_regular;
  }
}

@mixin p-lg() {
  @include p;
  font-size: 18px;
  line-height: 1.33;
  @include mobile_and_under {
    font-size: 16px;
    line-height: 1.5;
  }
}

@mixin p-sm() {
  @include p;
  font-size: 14px;
  line-height: 1.43;
  @include mobile_and_under {
    font-size: 12px;
    line-height: 1.83;
  }
}

@mixin p-xs() {
  @include p;
  font-size: 12px;
  line-height: 1.5;
}

