// Grid settings
$main_sm_columns: 12;
$sidebar_sm_columns: 4;

// Navigation Breakpoint
$grid_float_breakpoint: 1280px;

/* COLORS: */
$black: #000000;
$shark: #1f2426;
$onix: #2a2f31;
$outer_space: #353f42;
$nevada: #656e73;
$regent_grey: #959fa3;
$porcelain: #e3e7e8;
$athens: #f2f4f5;
$alabaster: #fafafa;
$white: #ffffff;
$habi: #B067FF;
$baseline: #b61e22;
$gold: #f6a841;
$cocoa: #9f450d;
$emerald: #10a450;
$lapis: #4197f7;
$matisse: #0d5d9e;
$pitch: #17191a;
$oxford: #101213;

@mixin linear-gradient-bg($color, $direction: "to bottom") {
    $mask: "linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),";
    $gradient: "";
    @if $color == habi {
        $gradient: linear-gradient(unquote($direction), #6301CC, #7C01FF);
    }
    @if $color == danger {
        $gradient: linear-gradient(unquote($direction), #d72429, #b61e22);
    }
    @if $color == winner {
        $gradient: linear-gradient(unquote($direction), $gold, #dd973a);
    }
    @if $color == info {
        $gradient: linear-gradient(unquote($direction), $lapis, $matisse);
    }
    @if $color == light {
        $gradient: linear-gradient(unquote($direction), $white, #ecf0f1);
    }
    @if $color == dark {
        $gradient: linear-gradient(unquote($direction), $nevada, $shark);
    }
    background-image: $gradient;
    &:hover {
        background-image: unquote($mask) + $gradient;
    }
}

// Social Media
$facebook: #3b5998;
$twitter: #049ff6;
$youtube: #e52d27;
$instagram: #d62976;

/* FONTS */
@include font-face("Lato Regular", "../fonts/Lato/LatoRegular", 400, normal);
@include font-face("Lato Bold", "../fonts/Lato/LatoBold", 700, normal);
@include font-face("Lato Black", "../fonts/Lato/LatoBlack", 900, normal);

$primary_font_regular: "Lato Regular";
$primary_font_bold: "Lato Bold";
$primary_font_black: "Lato Black";
$primary_font_color: $shark;
