.fixed-footer {
    align-items: center;
    background-color: $shark;
    bottom: 0;
    display: flex;
    height: 40px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    &__info {
        text-align: center;
        color: $regent_grey;
        a {
            font-family: $primary_font_bold;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}