.habi-navbar {
    background-color: $shark;
    @include desktop_only{
        height: 40px;
    }
    &__brand {
        color: $habi;
        &:hover {
            color: $habi;
        }
    }
    &__link-end {
        color: $regent_grey;
        text-decoration: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &--divide {
            &:after {
                padding-left: 0.5rem;
                content: '/';
                color: $regent_grey;
            }
        }
        &:hover {
            color: $habi;
        }
        @include tablet_and_under{
            padding-left: 1rem;
        }
    }
}