@import "../common/mixins.scss";
.property-cards {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 30px 0;
    &__item {
        list-style: none;
        width: 32%;
        margin: 15px 0;
        @include tablet_and_under{
            width: 40%;
        }
        @include mobile_and_under{
            width: 100%;
        }
    }
}