@import "../common/mixins.scss";
@import "../common/variables.scss";
.property {
    margin: 0;
    box-shadow: 2px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    &__image {
        width: 100%; 
        height: auto;
        margin-bottom: 10px;
    }
    &__icon-wrap {
        text-align: center;
    }
    &__icon-info {
        color: $nevada;
    }
    &__separator {
        margin: 8px 0;
        color: $regent_grey;
    }
    &__body {
        padding: 15px;
    }
    &__title {
        font-family: $primary_font_regular;
        font-size: 20px;
        font-weight: 500;
    }
    &__price {
        font-family: $primary_font_black;
        line-height: 30px;
    }
    &__dot {
        height: 7px;
        width: 7px;
        background-color: $baseline;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 2px;
    }
    &__description {
        color: $regent_grey;
    }
    &__buttons-wrap {
        margin-top: 15px;
        text-align: center;
    }
    &__button-action {
        color: $shark;
    }
}